body{
font-family: Arial;
margin:0;
background:#0f0f0f;
color:white;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px;
background:black;
}

.navbar a{
color:white;
margin-left:20px;
text-decoration:none;
}

.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.btn{
padding:12px 30px;
background:red;
color:white;
text-decoration:none;
margin-top:20px;
}

.cards{
display:flex;
gap:20px;
justify-content:center;
margin-top:40px;
}

.card{
background:#1c1c1c;
padding:30px;
border-radius:10px;
width:200px;
text-align:center;
}

.price{
color:red;
font-weight:bold;
}

.title{
text-align:center;
margin-top:40px;
}

.center{
text-align:center;
}
